.calendar-container {
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  height: 65px; /* Adjust the height of the cells as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-direction: column;
}

.tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  font-weight: bold;
}

.sales {
  font-size: 12px;
  color: #888;
}